body {
    background-color:lightsalmon;
}

.app {
    font-family: "calibri";
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 10px;
    margin-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 48px;
    background-color: white;
    border-radius: 12px;
}

h1 {
    margin-bottom: 0;
}

hr {
    border: none;
    height: 1.5px;
    color: darkgray;
    background-color: darkgray;
    margin-top: 0;
}

table {
    border: 2px solid lightgray;
    border-collapse: collapse;
}

td + td,
th + th { border-left: 1px solid lightgray; }
tbody,
tr + tr { border-top: 1px solid lightgray; }

table th,
table td {
    padding-left: 6px;
    padding-right: 6px;
}

table tr th {
    background-color: #fffeeb;
}

table tr:nth-child(even of :not([hidden])) td {
    background-color: #fffeeb;
}

table tr:nth-child(odd of :not([hidden])) td {
    background-color: #defeff;
}

#solve {
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#solver-results {
    display: none;
}
